<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sauce Lab Practice Session" parallel = "tests" thread-count = "2">

    <test name = "Sauce Test - chrome">
        <parameter name = "browser" value = "chrome"/>
        <parameter name = "version" value = "107"/>

        <classes>
            <class name = "org.example.SauceLabPracticeTest" />
        </classes>
        
    </test>

    <test name = "Sauce Test - firefox">
        <parameter name = "browser" value = "firefox"/>
        <parameter name = "version" value = "107"/>

        <classes>
            <class name = "org.example.SauceLabPracticeTest" />
        </classes>

    </test>
    
</suite>
